.sign-up
  .sign-up__header this header is created by Mr.T
  .sign-up__breadcrumbs breadcrumbs will be set here

  .sign-up__main
    .sign-up__main__header.clearfix
      %ul.side-by-side-ul
        %li.side-by-side-li
          =fa_icon "users", class: "users-icon"
        %li.side-by-side-li.resistration-new-member-msg Googleでログイン
 
    .sign-up__main__middle
      .user-resistration-form.clearfix
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.hidden_field :uid, value: "#{@user.uid}"
          = f.hidden_field :provider, value: "#{@user.provider}"
          = f.hidden_field :password, value: "#{@user.password}"
          = f.hidden_field :email, value: "#{@user.email}"
          .user-resistration-form__top-msg 基本情報
          .user-resistration-form__gender
            %ul.side-by-side-ul.user-resistration-form__gender__line.clearfix
              %li.side-by-side-li.user-resistration-form__gender__line__msg.gray 性別
              %li.side-by-side-li
                = f.radio_button :gender, "男性"
              %li.side-by-side-li.user-resistration-form__gender__line__text 男性 
              %li.side-by-side-li.user-resistration-form__gender__line__female-msg
                = f.radio_button :gender, "女性"
              %li.side-by-side-li.user-resistration-form__gender__line__text  女性
              %li.side-by-side-li.user-resistration-form__gender__line__female-msg  
                = f.radio_button :gender, "その他"
              %li.side-by-side-li.user-resistration-form__gender__line__text  その他

          .user-resistration-form__gender
            %ul.side-by-side-ul.user-resistration-form__gender__line.clearfix
              %li.side-by-side-li.user-resistration-form__gender__line__birth.gray 生年月日
              %li.side-by-side-li
                = f.select :birth_year,[[],[1990, 1990], [1991, 1991], [1992, 1992], [1993, 1993], [1994, 1994], [1995, 1995]], {}
              %li.side-by-side-li.user-resistration-form__gender__line__year  年
              %li.side-by-side-li.user-resistration-form__gender__line__female-msg 
                = f.select :birth_month,[[],[1,1], [2,2], [3,3,], [4,4], [5,5], [6, 6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12]],{}
              %li.side-by-side-li.user-resistration-form__gender__line__year  月
              %li.side-by-side-li.user-resistration-form__gender__line__female-msg  
                = f.select :birth_day,[[],[1,1], [2,2], [3,3,], [4,4], [5,5], [6, 6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13],[14,14],[15,15],[16,16],[17,17],[18,18],[19,19],[20,20],[21,21],[22,22],[23,23],[24,24],[25,25,],[26,26],[27,27],[28,28],[29,29],[30,30],[31,31]],{}
              %li.side-by-side-li.user-resistration-form__gender__line__year  日

          .user-resistration-form__gender
            %ul.side-by-side-ul.user-resistration-form__postal__line.clearfix
              %li.side-by-side-li.user-resistration-form__postal__line__postal.gray.sns-postal 郵便番号
              %li.side-by-side-li
                = f.text_field :postal_code, class: "text-arrange-postal", placeholder: "例:2617116",required: "required"
              =link_to "https://www.post.japanpost.jp/zipcode/index.html" do
                %li.side-by-side-li.user-resistration-form__postal__line__postal-search 郵便番号を検索
                %li.side-by-side-li.user-resistration-form__postal__line__postal-icon
                  %i.fa.fa-edit

          .user-resistration-form__gender
            %ul.side-by-side-ul.user-resistration-form__postal__line.clearfix
              %li.side-by-side-li.user-resistration-form__postal__line__postal.gray メールアドレス
              %li.side-by-side-li.confirm-user-email #{@user.email}
            %ui.side-by-side-ul
              %li.side-by-side-li.checkbox-arrange-coupon.sns-coupon
                = f.check_box :mail_magazine, checkedvalue: 1, uncheckedvalue: 0
              %li.sale_and_coupon.sns-coupon セールやクーポンなどのお得な情報を受け取る

          = f.submit "会員登録を完了する", class: "sns-resistration-btn"
            

  .sign-up__footer
