.sign-up
  .sign-up__header this header is created by Mr.T
  .sign-up__breadcrumbs breadcrumbs will be set here

  .sign-up__main
    .sign-up__main__header.clearfix
      %ul.side-by-side-ul
        %li.side-by-side-li
          =fa_icon "users", class: "users-icon"
        %li.side-by-side-li.resistration-new-member-msg 新規会員登録

    .sign-up__main__middle
      .user-resistration-form.clearfix
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .user-resistration-form__top-msg 基本情報
          .user-resistration-form__gender
            %ul.side-by-side-ul.user-resistration-form__gender__line.clearfix
              %li.side-by-side-li.user-resistration-form__gender__line__msg 性別
              %li.side-by-side-li
                = f.radio_button :gender, "男性"
              %li.side-by-side-li.user-resistration-form__gender__line__text 男性 
              %li.side-by-side-li.user-resistration-form__gender__line__female-msg
                = f.radio_button :gender, "女性"
              %li.side-by-side-li.user-resistration-form__gender__line__text  女性
              %li.side-by-side-li.user-resistration-form__gender__line__female-msg  
                = f.radio_button :gender, "その他"
              %li.side-by-side-li.user-resistration-form__gender__line__text  その他

          .user-resistration-form__gender
            %ul.side-by-side-ul.user-resistration-form__gender__line.clearfix
              %li.side-by-side-li.user-resistration-form__gender__line__birth 生年月日
              %li.side-by-side-li
                = f.select :birth_year,[[],[1990, 1990], [1991, 1991], [1992, 1992], [1993, 1993], [1994, 1994], [1995, 1995]], {}
              %li.side-by-side-li.user-resistration-form__gender__line__year  年
              %li.side-by-side-li.user-resistration-form__gender__line__female-msg 
                = f.select :birth_month,[[],[1,1], [2,2], [3,3,], [4,4], [5,5], [6, 6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12]],{}
              %li.side-by-side-li.user-resistration-form__gender__line__year  月
              %li.side-by-side-li.user-resistration-form__gender__line__female-msg  
                = f.select :birth_day,[[],[1,1], [2,2], [3,3,], [4,4], [5,5], [6, 6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13],[14,14],[15,15],[16,16],[17,17],[18,18],[19,19],[20,20],[21,21],[22,22],[23,23],[24,24],[25,25,],[26,26],[27,27],[28,28],[29,29],[30,30],[31,31]],{}
              %li.side-by-side-li.user-resistration-form__gender__line__year  日

          .user-resistration-form__gender
            %ul.side-by-side-ul.user-resistration-form__postal__line.clearfix
              %li.side-by-side-li.user-resistration-form__postal__line__postal 郵便番号
              %li.side-by-side-li.user-resistration-form__postal__line__hissu
                .user-resistration-form__postal__line__hissu-box
                  .user-resistration-form__postal__line__hissu-box-msg 必須
              %li.side-by-side-li
                = f.text_field :postal_code, class: "text-arrange-postal", placeholder: "例:2617116"
              =link_to "https://www.post.japanpost.jp/zipcode/index.html" do
                %li.side-by-side-li.user-resistration-form__postal__line__postal-search 郵便番号を検索
                %li.side-by-side-li.user-resistration-form__postal__line__postal-icon
                  %i.fa.fa-edit

          .user-resistration-form__gender
            .user-resistration-form__gender__line__email
              %ui.side-by-side-ul
                %li
                  = f.label :メールアドレス, class: "user-resistration-form__gender__line__email__label"
                %li (ZOZOID)
                %li.side-by-side-li
                .zozoid__hissu
                  .zozoid__hissu-box
                    .zozoid__hissu-box-msg 必須
                %li.mail-to-zozoid ※メールアドレスがZOZO IDとなります
              %ui.side-by-side-ul.clearfix
                %li.side-by-side-li.checkbox-arrange-coupon
                  = f.check_box :mail_magazine, checkedvalue: 1
                %li.sale_and_coupon セールやクーポンなどのお得な情報を受け取る
              = f.email_field :email, autofocus: true,placeholder:"例 : zozo@zozotown.jp", autocomplete: "email",class: "user-resistration-form__gender__line__email__text"

          .user-resistration-form__gender
            .user-resistration-form__gender__line__email
              %ui.side-by-side-ul
                %li
                  = f.label :パスワード
                %li.side-by-side-li
                .zozoid__hissu
                  .zozoid__hissu-box
                    .zozoid__hissu-box-msg 必須
                %li.mail-to-zozoid ※ZOZOIDに含まれない英数字混合 8~12文字
              = f.password_field :password, autocomplete: "new-password" ,class: "new-password-box"

          .user-resistration-form__gender__bottom
            .user-resistration-form__gender__line__email.clearfix
              %ui.side-by-side-ul.personal-info-consern
                %li.side-by-side-li
                  %input{type: "checkbox", class: "personal-info-consern-checkbox"}
                =link_to do
                  %li.side-by-side-li 利用規約
                  %li.side-by-side-li
                    %i.fa.fa-bookmark
                  %li.side-by-side-li ,
                =link_to do
                  %li.side-by-side-li 個人情報保護方針
                  %li.side-by-side-li 
                    %i.fa.fa-bookmark
                %li.side-by-side-li に同意する
            = f.submit "会員登録", class: "new-resistration-btn"


  .sign-up__footer
