.user-info-main__body-left
  %ul.user-info-main__body-left-list
    %li.user-info-main__body-left-list__side-box
      %p.side-box-index 会員情報登録
      %p.side-box-msg
        = link_to "会員情報登録", "#basic-userinfo"
      %p.side-box-msg
        = link_to "お届け先の変更・追加", "#additonal-address"
      %p
        = link_to "クレジットカード情報", "#alter-credit-card"
    %li.user-info-main__body-left-list__side-box
      %p.side-box-index ZOZOポイント
      %p
        = link_to "ZOZOポイント"
    %li.user-info-main__body-left-list__side-box
      %p.side-box-index2 ZOZOARIGATO
      %p.side-box-index メンバーシップ
      %p
        = link_to "申し込み内容"
    %li.user-info-main__body-left-list__side-box
      %p.side-box-index 注文履歴
      %p.side-box-msg
        = link_to "発送済み商品"
      %p
        = link_to "発送前商品"
    %li.user-info-main__body-left-list__side-box
      %p.side-box-index おまかせ定期便
      %p
        = link_to "定期便申し込み内容"
    %li.user-info-main__body-left-list__side-box
      %p.side-box-index ZOZOおまけ
      %p
        = link_to "ZOZOおまけ一覧"
    %li.user-info-main__body-left-list__side-box
      %p.side-box-index 外部サイト
      %p.side-box-msg
        = link_to "外部サイトとの連携"
      %p
        = link_to "WEAR IDとの連携"
    %li.user-info-main__body-left-list__middle-box
      %p.side-box-index 退会
      %p
        = link_to "手続き"
    %li.user-info-main__body-left-list__bottom-box
      %p.side-box-index 買取サービス
      %p.side-box-msg
        = link_to "申し込み"
      %p.side-box-msg
        = link_to "取り引き管理"
      %p.side-box-msg
        = link_to "口座情報の登録"
      %p.side-box-msg
        = link_to "買取メルマガ"
      %p
        = link_to "専用問い合わせ"
