#stockIndexBody
  .headerContent
    .inner.clearfix
      .txt
        %h1 商品在庫の一覧
      .searchItem.clearfix
        %p.keyword
          %input{type: "serch", placeholder: "出品アイテムをここに", class: "stockKeyword"}
        %p.submit
          %button.stockSubmit
            = fa_icon 'search'
  .mainContent
    #stockInfo
      #addStock
        %button.addBtn
          %a 追加
      #tblItemSize
        %table
          %thead
            %tr
              %th アイテム名
              %th.brandCell ブランド
              %th.sizeCell サイズ
              %th.colorCell カラー
              %th.countCell 個数
              %th.iconCell 編集
              %th.iconCell 削除
          %tbody
            %tr.specDetail
              %th.itemName アイテムA
              %td GOUCH
              %td S
              %td ワインレッド
              %td 100
              %td.iconBtn
                %a
                = fa_icon("edit")
              %td.iconBtn
                %a
                = fa_icon("trash")
            %tr.specDetail
              %th.itemName アイテムB
              %td ETRO
              %td M
              %td モスキーグリーン
              %td 20
              %td.iconBtn
                %a
                = fa_icon("edit")
              %td.iconBtn
                %a
                = fa_icon("trash")
            %tr.specDetail
              %th.itemName アイテムC
              %td New Yorker
              %td L
              %td ブラック
              %td 30
              %td.iconBtn
                %a
                  = fa_icon("edit")
              %td.iconBtn
                %a
                  = fa_icon("trash")
            %tr.specDetail
              %th.itemName アイテムE
              %td SHANEL
              %td
              %td シャンパンゴールド
              %td 10
              %td.iconBtn
                %a
                  = fa_icon("edit")
              %td.iconBtn
                %a.iconBtn
                  = fa_icon("trash")
