#stockIndexBody
  .headerContent
    .inner.clearfix
      .txt
        %h1 商品在庫の一覧
      .searchItem.clearfix
        %p.keyword
          %input{type: "serch", placeholder: "出品アイテムをここに", class: "stockKeyword"}
        %p.submit
          %button.stockSubmit
            = fa_icon 'search'
  .mainContent
    #stockInfo
      #addStock
        %button.addBtn
          %a 追加
      #tblStockInfo
        %table
          %thead
            %tr
              %th アイテム名
              %th.brandCell ブランド
              %th.sizeCell サイズ
              %th.colorCell カラー
              %th.countCell 個数
              %th.iconCell 編集
              %th.iconCell 削除
          %tbody
            - @items.each do |item|
              - item.stocks.each do |stock|
                %tr.specDetail
                  %th.itemName
                    = item.name
                  %td
                    = item.brand.name
                  %td
                    = stock.size.size
                  %td
                    = stock.color.name
                  %td
                    = stock.count
                  %td.iconBtn.iconEdit
                    %a
                    = fa_icon("edit")
                  %td.iconBtn
                    %a
                    = fa_icon("trash")


.AddStack-overlay.AddStack-overlay-fixed
  .AddStack-outer
    .AddStack-inner
      .AddStack-iframe
        #detail
          %h2 在庫情報の登録
          .AddStackForm
            = form_for @stock do |f|
              .form-group
                %label.mainLabel アイテム名
                %span.form-require 必須
                .radioBox.clearfix
                  - @items.each do |item|
                    .radioSelect
                      = f.radio_button :item_id, "#{item.id}"
                      = f.label :item_id, "#{item.name}", value: "#{item.id}"

              .form-group
                %label.mainLabel サイズ
                %span.form-require 必須
                %br.clearBoth
                .selectBox
                  = f.select :size_id , Size.all.map{|size|[size.size, size.id]}



              .form-group
                %label.mainLabel カラー
                %span.form-require 必須
                %br.clearBoth
                .selectBox
                  = f.select :color_id, Color.all.map{|color|[color.name, color.id]}


              .form-group
                %label.mainLabel 個数
                %span.form-require 必須
                .clearBoth
                = f.number_field :count, class: "input-default", min: "0"

              = f.submit "登録する", class: "submitBtn"
      .AddStack-item.AddStack-close
        %i.fa.fa-times


