#stockIndexBody
  .headerContent
    .inner.clearfix
      .txt
        %h1 zozotown 商品在庫の一覧
      .searchItem.clearfix
        %p.keyword
          %input{type: "serch", placeholder: "出品アイテムをここに", class: "stockKeyword"}
        %p.submit
          %button.stockSubmit
            = fa_icon 'search'
      .shopName
        %h2 #{@shop.name} 様
  .mainContent
    #stockInfo
      #addStock

        = link_to new_stock_path, remote: true do
          %button.addBtn 追加
      #tblStockInfo
        %table
          %thead
            %tr
              %th アイテム名
              %th.brandCell ブランド
              %th.sizeCell サイズ
              %th.colorCell カラー
              %th.countCell 個数
              %th.iconCell イメージ
              %th.iconCell 編集
              %th.iconCell 削除
          %tbody
            - @items.each do |item|
              - item.stocks.rank(:row_order).each do |stock|
                %tr.specDetail
                  %th.itemName
                    = item.name
                  %td
                    = item.brand.name
                  %td
                    = stock.size.size
                  %td
                    = stock.color.name
                  %td
                    = stock.count
                  %td.iconBtn.iconIMG
                    = fa_icon("image")
                    = image_tag("#{stock.image}")
                  %td.iconBtn.iconEdit
                    = link_to edit_stock_path(stock), remote: true do
                      = fa_icon("edit")
                  %td.iconBtn.iconDelete
                    = link_to stock_path(stock), method: :delete do
                      = fa_icon("trash")



.imagePreview-overlay.modal-overlay.modal-overlay-fixed
  .modal-outer
    .modal-inner
      .image-iframe
        .stockDetailPix
          = image_tag("")
        .noImage
          = image_tag("http://lib.city.koshigaya.saitama.jp/wp-content/uploads/2015/08/noimage_300-207x300.png")

        .modal-item.modal-close.image-close
          %i.fa.fa-times

#Stock-modal
