= render "/shared/header-logged-in.html.haml"
.sign-up__breadcrumbs breadcrumbs will be set here

.user-info-main
  .user-info-main__header
    %span
      = fa_icon "users", class: "user-info-icon"
    %span ZOZOID
    %span 様の登録情報

  .user-info-main__body.clearfix

    = render "/users/shared/sidebar.html.haml"

    .user-info-main__body-right
      .body-right__top#basic-userinfo
        .body-right__top-inside
          .body-right__top-inside__header
            .body-right__top-inside__header-index 会員情報登録
          .body-right__top-inside__content
            %table
              %tr.body-right__top-inside__content-tr
                %th.body-right__top-inside__content-th 基本情報
                -if @user.present?
                  %td.body-right__top-inside__content-td
                    .users-table-space
                      %p
                        %span
                          = @user.family_name
                        %span
                          = @user.first_name
                        %span (#{@user.family_name_kana}#{@user.first_name_kana})
                      %p
                        = @user.gender
                      %p
                        %span
                          = @user.birth_year
                        %span 年
                        %span
                          = @user.birth_month
                        %span 月
                        %span
                          = @user.birth_day
                        %span 日
                      %p 
                        %span 〒
                        %span #{@user.postal_code.to_s[0..2]}-#{@user.postal_code.to_s[3..6]}
                      %p #{@user.address1}#{@user.address2}
                      %p
                        = @user.phonenumber
                  %td
                    .user-info-change-btn
                      = link_to "変更", edit_user_path
                -unless @user.present?
                  %td.body-right__top-inside__content-td
                  %td.new-user-detail-td
                    .user-info-change-btn
                      = link_to "追加", new_user_path

              %tr.body-right__top-inside__content-tr
                %th.body-right__top-inside__content-th
                  %p メールアドレス
                  %p (ZOZO ID)
                %td.body-right__top-inside__content-td-email
                  %p
                    = current_user.email
                %td
                  .user-info-change-btn
                    = link_to "変更", user_email_path(current_user.id)

              %tr.body-right__top-inside__content-tr
                %th.body-right__top-inside__content-th パスワード
                %td.body-right__top-inside__content-td-password
                  %p
                    %span ***********
                    %span.security-msg ※セキュリティのためパスワードは非表示となっています。
                %td
                  .user-info-change-btn
                    = link_to "変更", edit_user_registration_path

      .body-right__top#additonal-address
        .body-right__top-inside
          .body-right__top-inside__header
            .body-right__top-inside__header-index お届け先の変更・追加
          .body-right__top-inside__content
            %table
              %tr
                .order-main__body__item-space__index
                  %p.order-main__body__item-space__index-msg  お届け先
                .order-main__body__item-space__detail
                  -if @shipping.present?
                    .order-main__body__item-space__detail-box.clearfix
                      .order-main__body__item-space__detail-box__right#hide-address
                        %p
                          %span
                            = @shipping.name
                          %span 様
                        %p
                          %span 〒
                          %span 
                            = @shipping.postal_code
                          %span.ship-on-day 即日発送可能
                        %p
                          %span 住所：
                          %span #{@shipping.prefecture}#{@shipping.address1}#{@shipping.address2}
                        %p
                          %span 電話：
                          %span
                            = @shipping.phonenumber

              %tr
                %td.user-page-additional-address
                  -unless @shipping.present?
                    %p.user-page-additional-address-msg 追加したお届け先はありません。
                  -if @shipping.present?
                    %p
                      = link_to "お届け先を変更する", shipping_edit_users_path
                  -unless @shipping.present?
                    %p
                      = link_to "お届け先を追加する", shipping_users_path

      .body-right__top#alter-credit-card
        .body-right__top-inside
          .body-right__top-inside__header
            .body-right__top-inside__header-index クレジットカードの変更
          .body-right__top-inside__content
            %table
              %tr
                %td.user-page-additional-address
                  %p.user-page-additional-address-msg クレジットカードの登録はありません。
                  %p.user-page-additional-address-msg ※新規カードの登録は、商品購入時に可能です。

= render "/shared/footer.html.haml"
