%tr.cart-main__middle__left__item-space
  %td.cart-main__middle__left__item-space-image
    = image_tag "#{open_trade.stock.item.images.first.image}", class: "in-cart-item-image"
  %td.cart-main__middle__left__item-space-detail
    %p.in-cart-item-p
      = open_trade.stock.item.shop.name
    %p.in-cart-item-p
      = open_trade.stock.item.brand.name 
    %p.in-cart-item-p #{open_trade.stock.item.parent_category.name}/#{open_trade.stock.item.child_category.name}
    %p.in-cart-item-p
      = open_trade.stock.item.name
    %p.in-cart-item-p
      = open_trade.stock.color.name
    %p.in-cart-item-p
      = open_trade.stock.size.size
    %p.in-cart-item-p-no-retutn 返品交換対象外
    -if open_trade.count == open_trade.stock.count-1
      %p.last_one_msg 残り1点
  %td.cart-main__middle__left__item-space-price ¥#{open_trade.stock.item.price}
  %td.cart-main__middle__left__item-space-count-item

    /在庫数2以上の時はマイナスボタンありをif文で条件分岐
    .cart-main__middle__left__item-space-count-item__box.clearfix
      -if open_trade.count >= open_trade.stock.count
        = form_tag(trade_minus_count_url(open_trade),method: :post) do
          %button{type: :submit, class: "cart-main__middle__left__item-space-count-item__box-btn-minus", id: "minus"} -
        %input{type: :text, class: "cart-main__middle__left__item-space-count-item__box-number", value: "#{open_trade.count}", id: "number"} 
      -elsif open_trade.count >= 2
        = form_tag(trade_minus_count_url(open_trade),method: :post) do
          %button{type: :submit, class: "cart-main__middle__left__item-space-count-item__box-btn-minus", id: "minus"} -
        %input{type: :text, class: "cart-main__middle__left__item-space-count-item__box-number", value: "#{open_trade.count}", id: "number"} 
        = form_tag(trade_plus_count_url(open_trade),method: :post) do
          %button{type: :submit, class: "cart-main__middle__left__item-space-count-item__box-btn-plus", id: "minus"} +
      -else
        .cart-main__middle__left__item-space-count-item__box-btn-minus.minus_box
        %input{type: :text, class: "cart-main__middle__left__item-space-count-item__box-number", value: "#{open_trade.count}", id: "number"} 
        = form_tag(trade_plus_count_url(open_trade),method: :post) do
          %button{type: :submit, class: "cart-main__middle__left__item-space-count-item__box-btn-plus", id: "minus"} +

  %td.cart-main__middle__left__item-space-delete-btn
    = link_to "消去",trade_erace_item_url(open_trade),method: :post
