%head

%body
  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  %script{:src => "http://code.jquery.com/jquery-1.9.1.min.js", :type => "text/javascript"}
  %script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js", :type => "text/javascript"}
  %link{:href => "http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.6.3/css/all.css", :integrity => "sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", :rel => "stylesheet"}/


  = render partial: 'shared/header-notice'

  - if user_signed_in?
    = render partial: 'shared/header-logged-in'
  - else
    = render partial: 'shared/header-log-in'

  .breadCrumb

.main__cordination.clearfix

  = render partial: 'shared/cordination-leftbar'


  .right__cordination
    .right__cordination__top
      %h1 メンズの商品を使ったコーディネイト

    .right__cordination__tab
      %ul
        %li#new-item
          = link_to '#'  do
            %span 新品
            %label 50000件
        %li#old-item
          = link_to '#'  do
            %span 古着
            %label 50000件
        %li#cordination-item
          = link_to '#'  do
            %span コーデ

    .right__cordination__menu.clearfix
      %ul.clearfix
      %li#reserve-js
        = link_to '#' do
          %span 在庫商品＋予約商品
          = fa_icon ('angle-down')
        %ul.right__cordination__menu__inner#reserve-js-hide
          %li
            = link_to '在庫商品＋予約商品' , '#'
          %li
            = link_to '在庫商品' , '#'
          %li
            = link_to '予約商品' , '#'

      %li#stock-js
        = link_to '#' do
          %span 在庫あり
          = fa_icon ('angle-down')
        %ul.right__cordination__menu__inner#stock-js-hide
          %li
            = link_to '在庫あり' , '#'
          %li
            = link_to '在庫なし含む' , '#'


      %li#popular-js
        = link_to '#' do
          %span アイテム人気順
          = fa_icon ('angle-down')
        %ul.right__cordination__menu__inner#popular-js-hide
          %li
            = link_to '人気順' , '#'
          %li
            = link_to '新着順' , '#'
          %li
            = link_to '価格が安い順' , '#'
          %li
            = link_to '価格が高い順' , '#'
          %li
            = link_to 'コーデ新着順' , '#'
          %li
            = link_to 'コーデ人気順' , '#'



    .right__cordination__main.clearfix
      %ul
        %li
          .right__cordination__main__item#show1
            = link_to '#' do
              = image_tag '/assets/20160829224529293_276.jpg', width: '215' , height:'287'
          .right__cordination__main__info
            .right__cordination__main__subimage
              = link_to '#' do
                = image_tag '/assets/31242481_8_D_125.jpg' , width: '60' , height:'70'
            .right__cordination__main__rightmain
              %p.right__cordination__main__blandname zozo
              %p.right__cordination__main__price
                ¥2000
                %span 税込
              %p.right__cordination__main__category 採寸ボディスーツ
              %p.right__cordination__main__model H165 / 着用:FREE

          .right__cordination__hide#hide1
            .right__cordination__hide__container
              %ul
                %li.clearfix
                  = link_to '#' do
                    = image_tag '/assets/20161004130913756_276.jpg' , width: '33' ,height:'40'
                  .right__cordination__hide__subitem
                    %p.right__cordination__hide__subcategory トップス
                    %p.right__cordination__hide__subprice
                      ¥1000
                      %span 税込

                %li.clearfix
                  = link_to '#' do
                    = image_tag '/assets/20161004130913756_276.jpg' , width: '33' ,height:'40'
                  .right__cordination__hide__subitem
                    %p.right__cordination__hide__subcategory トップス
                    %p.right__cordination__hide__subprice
                      ¥1000
                      %span 税込

                %li.clearfix
                  = link_to '#' do
                    = image_tag '/assets/20161004130913756_276.jpg' , width: '33' ,height:'40'
                  .right__cordination__hide__subitem
                    %p.right__cordination__hide__subcategory トップス
                    %p.right__cordination__hide__subprice
                      ¥1000
                      %span 税込

          %li
            .right__cordination__main__item#show2
              = link_to '#' do
                = image_tag '/assets/20160829224529293_276.jpg', width: '215' , height:'287'
            .right__cordination__main__info
              .right__cordination__main__subimage
                = link_to '#' do
                  = image_tag '/assets/31242481_8_D_125.jpg' , width: '60' , height:'70'
              .right__cordination__main__rightmain
                %p.right__cordination__main__blandname zozo
                %p.right__cordination__main__price
                  ¥2000
                  %span 税込
                %p.right__cordination__main__category 採寸ボディスーツ
                %p.right__cordination__main__model H165 / 着用:FREE

            .right__cordination__hide#hide2
              .right__cordination__hide__container
                %ul
                  %li.clearfix
                    = link_to '#' do
                      = image_tag '/assets/20161004130913756_276.jpg' , width: '33' ,height:'40'
                    .right__cordination__hide__subitem
                      %p.right__cordination__hide__subcategory トップス
                      %p.right__cordination__hide__subprice
                        ¥1000
                        %span 税込

                  %li.clearfix
                    = link_to '#' do
                      = image_tag '/assets/20161004130913756_276.jpg' , width: '33' ,height:'40'
                    .right__cordination__hide__subitem
                      %p.right__cordination__hide__subcategory トップス
                      %p.right__cordination__hide__subprice
                        ¥1000
                        %span 税込

                  %li.clearfix
                    = link_to '#' do
                      = image_tag '/assets/20161004130913756_276.jpg' , width: '33' ,height:'40'
                    .right__cordination__hide__subitem
                      %p.right__cordination__hide__subcategory トップス
                      %p.right__cordination__hide__subprice
                        ¥1000
                        %span 税込

          %li
            .right__cordination__main__item#show3
              = link_to '#' do
                = image_tag '/assets/20160829224529293_276.jpg', width: '215' , height:'287'
            .right__cordination__main__info
              .right__cordination__main__subimage
                = link_to '#' do
                  = image_tag '/assets/31242481_8_D_125.jpg' , width: '60' , height:'70'
              .right__cordination__main__rightmain
                %p.right__cordination__main__blandname zozo
                %p.right__cordination__main__price
                  ¥2000
                  %span 税込
                %p.right__cordination__main__category 採寸ボディスーツ
                %p.right__cordination__main__model H165 / 着用:FREE


            .right__cordination__hide#hide3
              .right__cordination__hide__container
                %ul
                  %li.clearfix
                    = link_to '#' do
                      = image_tag '/assets/20161004130913756_276.jpg' , width: '33' ,height:'40'
                    .right__cordination__hide__subitem
                      %p.right__cordination__hide__subcategory トップス
                      %p.right__cordination__hide__subprice
                        ¥1000
                        %span 税込

                  %li.clearfix
                    = link_to '#' do
                      = image_tag '/assets/20161004130913756_276.jpg' , width: '33' ,height:'40'
                    .right__cordination__hide__subitem
                      %p.right__cordination__hide__subcategory トップス
                      %p.right__cordination__hide__subprice
                        ¥1000
                        %span 税込

                  %li.clearfix
                    = link_to '#' do
                      = image_tag '/assets/20161004130913756_276.jpg' , width: '33' ,height:'40'
                    .right__cordination__hide__subitem
                      %p.right__cordination__hide__subcategory トップス
                      %p.right__cordination__hide__subprice
                        ¥1000
                        %span 税込

.scroll__box#scroll-js
  .scroll__box__inner
    = fa_icon ('angle-double-up')
    %span scroll


= render partial: 'shared/footer'









