.item-new
  .item-new-header
    .item-new-header__content
      .item-new-header__content__msg ZOZOTOWN

= form_for @item, multipart: true do |f|
  .zozoshop.clearfix
    .zozoshop__header
      .zozoshop__header-msg
        %span
          =fa_icon "check-circle", class: "fa-lg", style: "color: #000033"
        %span
          商品情報を登録

    .zozoshop__right
      .zozoshop__right-container
        .zozoshop__right-container-box
          .zozoshop__right-container-box-msg
            %span 商品名
            %span.hiss 必須
          .zozoshop__right-container-box-tag
            = f.text_field :name, placeholder: "商品名 (40文字まで)", required: true, maxlength: 40, class: "input-style", style: "width: 480px"

        .zozoshop__right-container-box
          .zozoshop__right-container-box-msg
            %span 説明
            %span.hiss 必須
          .zozoshop__right-container-box-tag
            = f.text_area :discription, placeholder: "商品の説明をここに書いてください。購入者に対して分かりやすいことを心がけましょう！", class: "text_area-style", style: "resize: none", required: true

      .zozoshop__right-container
        .zozoshop__right-container-box
          .zozoshop__right-container-box-msg
            %span カテゴリー名
            %span.hiss 必須
          .zozoshop__right-container-box-tag
            = f.select :parent_category_id, @parent_category.map{|parent_category|[parent_category.name, parent_category.id]}, {prompt: "カテゴリー1を選択"}, {required: true}
          .zozoshop__right-container-box-tag
            = f.select :child_category_id, {}, {prompt: "カテゴリー2を選択"}, {required: true}

      .zozoshop__right-container
        .zozoshop__right-container-box
          .zozoshop__right-container-box-msg
            %span ブランド名
            %span.hiss 必須
          .zozoshop__right-container-box-tag
            = f.select :brand_id, @brand.map{|brand|[brand.name, brand.id]}, {prompt: "選択してください"}, class: "select-style", required: true

      .zozoshop__right-container
        .zozoshop__right-container-box
          .zozoshop__right-container-box-msg
            %span ショップ名
            %span.hiss 必須
          .zozoshop__right-container-box-tag
            %input{value: "#{@shop.first.name}", class: "select-style", style: "background: lightgray", disabled: true}
            = f.hidden_field :shop_id, value: "#{@shop.first.id}",required: true

    .zozoshop__left
      .zozoshop__right-container
        .zozoshop__right-container-box
          .zozoshop__right-container-box-msg
            %span レディース/メンズ/キッズ
          .zozoshop__right-container-box-tag
            = f.select :gender, [["レディース/メンズ","レディースメンズ"],["レディース", "レディース"],["メンズ","メンズ"],["キッズ","キッズ"]], {prompt: "選択してください"}, class: "select-style"

        .zozoshop__right-container-box
          .zozoshop__right-container-box-msg
            %span 材料
          .zozoshop__right-container-box-tag
            = f.select :material, [["ポリエステル","ポリエステル"],["シルク", "シルク"],["コットン","コットン"],["カシミヤ","カシミヤ"],["レザー","レザー"],["ダウン","ダウン"],["レーヨン","レーヨン"]], {prompt: "選択してください"}, class: "select-style"

        .zozoshop__right-container-box
          .zozoshop__right-container-box-msg
            %span 原産国
          .zozoshop__right-container-box-tag
            = f.select :origin, [["日本","日本"],["中国", "中国"],["ベトナム","ベトナム"],["インド","インド"],["アメリカ","アメリカ"],["マレーシア","マレーシア"]], {prompt: "選択してください"},class: "select-style"

        .zozoshop__right-container-box
          .zozoshop__right-container-box-msg
            %p
              %span ラッピング可否
              %span
                = f.check_box :wrapping, checkedvalue: 1, uncheckedvalue: 0, style: "margin-left: 20px"
              %span.wrapping-msg ※ラッピングが可能な場合はチェックしてください

        .zozoshop__right-container-box
          .zozoshop__right-container-box-msg
            %p
              %span 即日配送可否
              %span
                = f.check_box :delivery_days, checkedvalue: 1, uncheckedvalue: 0, style: "margin-left: 20px"
              %span.wrapping-msg ※即日配送が可能な場合はチェックしてください

        .zozoshop__right-container-box
          .zozoshop__right-container-box-msg
            %span 値段
            %span.hiss 必須
          .zozoshop__right-container-box-tag
            %span{style: "font-size: 20px"} ¥
            %span
              = f.number_field :price, placeholder: "例)¥3,000", class: "price-input", style: "width: 300px", min: 300, step: 100, required: true

        .zozoshop__right-container-box
          .zozoshop__right-container-box-msg
            %span クーポン割引率
            %span.hiss 必須
          .zozoshop__right-container-box-tag
            = f.select :coupon, [["適用しない","0"],["10%", "0.9"],["20%","0.8"],["30%","0.7"],["40%","0.6"],["50%","0.5"],["60%","0.4"]], {prompt: "選択してください"}, class: "select-style"
          .zozoshop__right-container-box-tag
            %P.coupon-price-msg{style: "color: gray"} ※適用時の価格
            %p{style: "margin-left: 20px"}
              %span.coupon-price-msg{style: "color: gray"} ¥
              %span
                %input#calc{class: "coupon-price", disabled: true}

  .newitem-preview
    .newitem-preview__header
      .newitem-preview__header-msg
        %span 画像登録
        %span.hiss 必須

    = f.fields_for :images do |image|
      .newitem-preview__box#image_box
        %ul{style: "display: flex"}
          .newitem-preview__box-msg 1
          .newitem-preview__box-preview#preview-box
            %p
              = fa_icon "image",{style: "padding-left: 10px"}
            %p{style: "margin: 7px"} ここをクリックして画像を選択してください
            = image.file_field :image,  type: "file", required: true
          .preview-zone#preview

          .newitem-preview__box-color
            %p.color-msg ※カラーがある場合は選択してください
            %p
              = image.select :color_id, @color.map{|color|[color.name, color.id]},{}, {prompt: "選択してください"}, class: "select-style"
          .newitem-preview__box-text
            = image.text_area :discription, placeholder: "画像に関する説明がある場合はここに書いてください", class: "item-text", style: "resize: none"

      .newitem-preview__footer
        %span
          %button{type: "button", id: "add_image"} 画像を追加する場合はクリック
        %span
          = f.submit "出品する", class: "button-style"
