#zozotown
  #wrapper
    #couponBanner.couponBanner.coupon_c3_D.coupon0
    #gblHeaderStuck
    #topBanner
    #headNavi
    #body.clearfix
      #content
        %article
          #goods
            #contents.singleColumn.clearfix
              #main
                .innerMain
                  #goodMainArea
                    #goodsLeft
                      .innerLeft
                        #photoGallery
                          #photoMain.hasZoom
                            = image_tag "https://c.imgz.jp/442/34183442/34183442B_33_D_500.jpg", width: "500px", height: "600px"
                          / %ul.prevNextCtrl
                          /   %li#btnPrev
                          /     %span Prev
                          /   %li#btnNext
                          /     %span Next
                          %p#photoCaption インディゴブルー H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                          %ul#photoThimb
                            %li#did_57522382.current
                              #div_0
                                %span#goodsdiv_0
                                  = image_tag "https://c.imgz.jp/442/34183442/34183442B_33_D_35.jpg", width: "35px", heigth: "42px"
                              %p インディゴブルー
                              %span.imCaption インディゴブルー H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                            %li#did_57522387
                              #div_1
                                %span#goodsdiv_1
                                  = image_tag "https://c.imgz.jp/442/34183442/34183442B_1_D_35.jpg", width: "35px", heigth: "42px"
                              %p ホワイト
                              %span.imCaption ホワイト H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                            %li#did_57522375
                              #div_2
                                %span#goodsdiv_2
                                  = image_tag "https://c.imgz.jp/442/34183442/34183442B_8_D_35.jpg", width: "35px", heigth: "42px"
                              %p ブラック
                              %span.imCaption ブラック H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                            %li#did_57522382
                              #div_0
                                %span#goodsdiv_0
                                  = image_tag "https://c.imgz.jp/442/34183442/34183442B_33_D_35.jpg", width: "35px", heigth: "42px"
                              %p インディゴブルー
                              %span.imCaption インディゴブルー H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                            %li#did_57522387
                              #div_1
                                %span#goodsdiv_1
                                  = image_tag "https://c.imgz.jp/442/34183442/34183442B_1_D_35.jpg", width: "35px", heigth: "42px"
                              %p ホワイト
                              %span.imCaption ホワイト H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                            %li#did_57522375
                              #div_2
                                %span#goodsdiv_2
                                  = image_tag "https://c.imgz.jp/442/34183442/34183442B_8_D_35.jpg", width: "35px", heigth: "42px"
                              %p ブラック
                              %span.imCaption ブラック H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                            %li#did_57522382.current
                              #div_0
                                %span#goodsdiv_0
                                  = image_tag "https://c.imgz.jp/442/34183442/34183442B_33_D_35.jpg", width: "35px", heigth: "42px"
                              %p インディゴブルー
                              %span.imCaption インディゴブルー H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                            %li#did_57522387
                              #div_1
                                %span#goodsdiv_1
                                  = image_tag "https://c.imgz.jp/442/34183442/34183442B_1_D_35.jpg", width: "35px", heigth: "42px"
                              %p ホワイト
                              %span.imCaption ホワイト H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                            %li#did_57522375
                              #div_2
                                %span#goodsdiv_2
                                  = image_tag "https://c.imgz.jp/442/34183442/34183442B_8_D_35.jpg", width: "35px", heigth: "42px"
                              %p ブラック
                              %span.imCaption ブラック H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                            %li#did_57522382.current
                              #div_0
                                %span#goodsdiv_0
                                  = image_tag "https://c.imgz.jp/442/34183442/34183442B_33_D_35.jpg", width: "35px", heigth: "42px"
                              %p インディゴブルー
                              %span.imCaption インディゴブルー H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                            %li#did_57522387
                              #div_1
                                %span#goodsdiv_1
                                  = image_tag "https://c.imgz.jp/442/34183442/34183442B_1_D_35.jpg", width: "35px", heigth: "42px"
                              %p ホワイト
                              %span.imCaption ホワイト H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                            %li#did_57522375
                              #div_2
                                %span#goodsdiv_2
                                  = image_tag "https://c.imgz.jp/442/34183442/34183442B_8_D_35.jpg", width: "35px", heigth: "42px"
                              %p ブラック
                              %span.imCaption ブラック H185/58kg / B90 / W77 / H90 / 着用サイズ：XL
                          .zoomContainer


                        #zozoReviewStatus.item_show_control.section.loadApiData
                          .tit.clearfix
                            %p.h.clearfix 👔 ZOZOスタッフ着用レビュー (1件）
                          .container
                            .zozoStaff.indexMedia
                              .indexItem.feedMedia.clearfix
                                %a.feedLink
                                  %figure.feedFigur
                                    .feedThumbnail
                                      .responsive.responsive3by4
                                        = image_tag "http://cdn.wimg.jp/coordinate/xikrn3/20180906131505988/20180906131505988_276.jpg", width:"147px", height:"187px"
                                  %div
                                    .feedMeta
                                      %span 173cm / 普段のサイズ：M
                                    .feedH
                                      %span.softWrap L /
                                      %span.softWrap グリーン系その他
                                %table.statusTbl
                                  %tbody
                                    %tr
                                      %th 厚み
                                      %td
                                        %ul.lows.clearfix.thickness.mast2
                                          %li.colm.min 薄い
                                          %li.colm.cnt.cnt0.val0
                                            %i
                                          %li.colm.cnt.cnt1.val0.active
                                            %i
                                          %li.colm.cnt.cnt2.val0
                                            %i
                                          %li.colm.cnt.cnt3.val0
                                            %i
                                          %li.colm.cnt.cnt4.val0
                                            %i
                                          %li.colm.max 厚い
                                    %tr
                                      %th 柔らかさ
                                      %td
                                        %ul.lows.clearfix.thickness.mast2
                                          %li.colm.min ハード
                                          %li.colm.cnt.cnt0.val0
                                            %i
                                          %li.colm.cnt.cnt1.val0
                                            %i
                                          %li.colm.cnt.cnt2.val0
                                            %i
                                          %li.colm.cnt.cnt3.val0.active
                                            %i
                                          %li.colm.cnt.cnt4.val0
                                            %i
                                          %li.colm.max ソフト

                          %span.info ※個人の感想を表示しています。
                        #use_coordinate.otherGoodsBlock.pickupBlock.item_show_control.section.loadApiData
                        #snap_description.clrearfix
                        #getRecommendRelation.otherGoodsBlock.pickupBlock.loadApiData.section
                        .clearfix.contentWrap
                    #goodsRight

