.confirm-item__box-item.clearfix
%ul.side-by-side-ul.confirm-top-marign.clearfix
  %li.side-by-side-li
    .confirm-item__box-item__index 商品
  %li.side-by-side-li
    .confirm-item__box-item__image
      = image_tag "#{open_trade.stock.item.images.first.image}", height: "85px", width: "70px"
  %li.side-by-side-li
    .confirm-item__box-item__info{style: "width: 280px"}
      %p
        = open_trade.stock.item.shop.name

      -if Brand.where(id: open_trade.stock.item.brand_id).present?
        %p
          = open_trade.stock.item.brand.name
      %p #{open_trade.stock.item.parent_category.name}/#{open_trade.stock.item.child_category.name}

      -if Size.where(id: open_trade.stock.color_id).present?
        %p
          = open_trade.stock.color.name

      -if Size.where(id: open_trade.stock.size_id).present?
        %p
          = open_trade.stock.size.size
      %p
        %span 数量：
        %span
          = open_trade.count
  %li.side-by-side-li
    .confirm-item__box-item__price{style: "text-align: left"} ¥1,000
  %li.side-by-side-li
    .confirm-item__box-top-btn.confirm-item-zone
      = link_to "変更", trades_path
