= render "shared/header-logged-in"

.cart-main

  .cart-main__header.clearfix
    .cart-main__header__left
      = fa_icon "shopping-cart 3x",class: "cart-main__header__left-oncart"
      .cart-main__header__left-msg ショッピングカート
    .cart-main__header__right
      = image_tag "/images/cart-info_step1.jpg"


  / カートに何も入っていない時　if文で条件文分岐
  / .cart-main__content
  /   .cart-main__content__noitem-msg カートに商品は入っていません
  /   = link_to "ショピングを続ける", root_path, class: "continue-shopping-btn"

  / .cart-main__checked-item.clearfix
  /   .cart-main__checked-item-msg 以前カートに入れたアイテム
  /   %ul.side-by-side-ul.cart-main__checked-item__line.clearfix
  /     %li.side-by-side-li.cart-main__checked-item__line__li
  /       = image_tag "https://c.imgz.jp/541/19639541/19639541B_142_D_215.jpg", class: "cart-main__checked-item__line__li-image"
  /       .cart-main__checked-item__line__li-item-name HANES
  /       %span.cart-main__checked-item__line__li-item-price ¥1,996
  /       %span.cart-main__checked-item__line__li-tax-include 税込
  /       %button{class: "add-to-cart-btn"} カートに入れる
  /     %li.side-by-side-li.cart-main__checked-item__line__li
  /       = image_tag "https://c.imgz.jp/541/19639541/19639541B_142_D_215.jpg", class: "cart-main__checked-item__line__li-image"
  /       .cart-main__checked-item__line__li-item-name HANES
  /       %span.cart-main__checked-item__line__li-item-price ¥1,996
  /       %span.cart-main__checked-item__line__li-tax-include 税込
  /       %button{class: "add-to-cart-btn"} カートに入れる

  /     %li.side-by-side-li.cart-main__checked-item__line__li
  /       = image_tag "https://c.imgz.jp/541/19639541/19639541B_142_D_215.jpg", class: "cart-main__checked-item__line__li-image"
  /       .cart-main__checked-item__line__li-item-name HANES
  /       %span.cart-main__checked-item__line__li-item-price ¥1,996
  /       %span.cart-main__checked-item__line__li-tax-include 税込
  /       %button{class: "add-to-cart-btn"} カートに入れる
  /     %li.side-by-side-li.cart-main__checked-item__line__li
  /       = image_tag "https://c.imgz.jp/541/19639541/19639541B_142_D_215.jpg", class: "cart-main__checked-item__line__li-image"
  /       .cart-main__checked-item__line__li-item-name HANES
  /       %span.cart-main__checked-item__line__li-item-price ¥1,996
  /       %span.cart-main__checked-item__line__li-tax-include 税込
  /       %button{class: "add-to-cart-btn"} カートに入れる
  /     %li.side-by-side-li.cart-main__checked-item__line__li
  /       = image_tag "https://c.imgz.jp/541/19639541/19639541B_142_D_215.jpg", class: "cart-main__checked-item__line__li-image"
  /       .cart-main__checked-item__line__li-item-name HANES
  /       %span.cart-main__checked-item__line__li-item-price ¥1,996
  /       %span.cart-main__checked-item__line__li-tax-include 税込
  /       %button{class: "add-to-cart-btn"} カートに入れる
  /     %li.side-by-side-li.cart-main__checked-item__line__li
  /       = image_tag "https://c.imgz.jp/541/19639541/19639541B_142_D_215.jpg", class: "cart-main__checked-item__line__li-image"
  /       .cart-main__checked-item__line__li-item-name HANES
  /       %span.cart-main__checked-item__line__li-item-price ¥1,996
  /       %span.cart-main__checked-item__line__li-tax-include 税込
  /       %button{class: "add-to-cart-btn"} カートに入れる
  /     %li.side-by-side-li.cart-main__checked-item__line__li
  /       = image_tag "https://c.imgz.jp/541/19639541/19639541B_142_D_215.jpg", class: "cart-main__checked-item__line__li-image"
  /       .cart-main__checked-item__line__li-item-name HANES
  /       %span.cart-main__checked-item__line__li-item-price ¥1,996
  /       %span.cart-main__checked-item__line__li-tax-include 税込
  /       %button{class: "add-to-cart-btn"} カートに入れる
  /     %li.side-by-side-li.cart-main__checked-item__line__li
  /       = image_tag "https://c.imgz.jp/541/19639541/19639541B_142_D_215.jpg", class: "cart-main__checked-item__line__li-image"
  /       .cart-main__checked-item__line__li-item-name HANES
  /       %span.cart-main__checked-item__line__li-item-price ¥1,996
  /       %span.cart-main__checked-item__line__li-tax-include 税込
  /       %button{class: "add-to-cart-btn"} カートに入れる


  / カートにアイテムがある時 if文で条件文分岐
  .cart-main__middle
    %table.cart-main__middle__left
      %tr.cart-main__middle__left__item-space
        %td.cart-main__middle__left__item-space-image
          = image_tag "https://c.imgz.jp/970/24834970/24834970B_160_D_125.jpg", class: "in-cart-item-image"
        %td.cart-main__middle__left__item-space-detail
          %p.in-cart-item-p ショップ名
          %p.in-cart-item-p ブランド名
          %p.in-cart-item-p 親カテゴリー/子カテゴリー
          %p.in-cart-item-p カラー
          %p.in-cart-item-p サイズ
          %p.in-cart-item-p-no-retutn 返品交換対象外
        %td.cart-main__middle__left__item-space-price ¥10,000
        %td.cart-main__middle__left__item-space-count-item
          .cart-main__middle__left__item-space-count-item__box.clearfix
            %button{class: "cart-main__middle__left__item-space-count-item__box-btn-minus", id: "minus"} -
            .cart-main__middle__left__item-space-count-item__box-number 1
            %button{class: "cart-main__middle__left__item-space-count-item__box-btn-plus", id: "plus"} +
        %td.cart-main__middle__left__item-space-delete-btn
          = link_to "消去"
      

      


    .cart-main__middle__right
      .cart-main__middle__right-tab.clearfix
        %button{class: "cart-main__middle__right-tab__zozo selected", id: "zozotab"} ZOZO
        %button{class: "cart-main__middle__right-tab__facebook", id: "facebooktab"} facebook
      .cart-main__middle__right-tab-zozo
        .cart-main__middle__right__zozobox
          .cart-main__middle__right__zozobox-msg ログインしてレジに進む
          %input{type: "text", placeholder: "メールアドレスまたはZOZOID", class: "cart-main__middle__right__zozobox-input"}
          %input{type: "text", placeholder: "パスワード", class: "cart-main__middle__right__zozobox-input"}
          = link_to "ID・パスワードを忘れた方パスワードを忘れた方" do
            .forget-email-box ID・パスワードを忘れた方
          %button{class: "cart-main__middle__right__zozobox-arigato-transaction-btn"}
            %p.arigato-price-msg ARIGATO価格
            %p.confirm-arigato-price ¥4,000で購入する
          .cart-main__middle__right__zozobox-only-creditcard-msg お支払いはクレジットカードのみとなります。
          %p.cart-main__middle__right__zozobox-zozoarigato-info-up ※ZOZOARIGATO価格での購入にはZOZOARIGATO
          %p.cart-main__middle__right__zozobox-zozoarigato-info-bottom
            %span メンバー入会（有料）が必要になります。
            %span.cart-main__middle__right__zozobox-zozoarigato-detail 
              = link_to "詳細"

        .cart-main__middle__right__footer
          .cart-main__middle__right__footer__usual
            %button#register-btn{class: "cart-main__middle__right__footer__usual-price-box"} 
              %span 通常価格
              %span ¥4,000
              %span 通常価格
              %span 
                = fa_icon "angle-down", class: "usual-price-arrow"
            .cart-main__middle__right__footer__usual-continue-shopping
              = link_to "ショッピングを続ける", root_path

          .cart-main__middle__right__footer__open#open-register
            .cart-main__middle__right__footer__open-confirm-price
              %span 通常価格
              %span ¥4,000
              %span で購入する
            %button{class: "cart-main__middle__right__footer__open-next-to-register"} レジ進むへ
            .cart-main__middle__right__footer__open-wrapping.clearfix
              %input{type: :checkbox, class: "cart-main__middle__right__footer__open-wrapping-checkbox"}
              .cart-main__middle__right__footer__open-wrapping-middle
                %span ラッピングをご希望の方はこちらにチェックをしてください
                %span.wrapping-detail-msg (有料)
                %span
                  = link_to "詳細"
              .cart-main__middle__right__footer__open-wrapping-right
                = image_tag "https://img4.zozo.jp/giftwrapping/pc/cart_giftgray.png", class: "wrapping-image"
            .cart-main__middle__right__footer__open-continue-shopping
              = link_to "ショッピングを続ける", root_path
      
      .cart-main__middle__right__facebookbox
        %p.cart-main__middle__right__facebookbox-msg ログインしてレジに進む
        %p.cart-main__middle__right__facebookbox-text facebookでログインすると
        %p.cart-main__middle__right__facebookbox-text ・ZOZOポイント
        %p.cart-main__middle__right__facebookbox-text ・クーポン
        %p.cart-main__middle__right__facebookbox-text ・ZOZOTOW GIFTCARD
        %p.cart-main__middle__right__facebookbox-text 上記サービスがご利用いただけません
        %p.cart-main__middle__right__facebookbox-info 
          %span ※ご利用になる場合は,
          %span
            = link_to "ZOZO IDと連携"
          %span.cart-main__middle__right__facebookbox-info し,
        %p.cart-main__middle__right__facebookbox-info ZOZOIDで再ログインしてください。
        %button{class: "cart-main__middle__right__facebookbox-btn"} facebook IDでログイン
        .cart-main__middle__right__facebookbox-info 
          = link_to "facebook IDログインに関して"
        .cart-main__middle__right__footer__open-wrapping.facebook-wrapping.clearfix
          %input{type: :checkbox, class: "cart-main__middle__right__footer__open-wrapping-checkbox"}
          .cart-main__middle__right__footer__open-wrapping-middle
            %span ラッピングをご希望の方はこちらにチェックをしてください
            %span.wrapping-detail-msg (有料)
            %span
              = link_to "詳細"
          .cart-main__middle__right__footer__open-wrapping-right
            = image_tag "https://img4.zozo.jp/giftwrapping/pc/cart_giftgray.png", class: "wrapping-image"
          .cart-main__middle__right__footer__open-continue-shopping
            = link_to "ショッピングを続ける", root_path

    .cart-main__middle__sum-payment
      %p.cart-main__middle__sum-payment-price
        %span 商品合計
        %span.cart-main__middle__sum-payment-price-span  ¥8,000
      %p.cart-main__middle__sum-payment-zozoarigato 
        %span ZOZOARIGATO価格
        %span.cart-main__middle__sum-payment-zozoarigato-span  ¥7,000
      %p.cart-main__middle__sum-payment-limit
        %span.cart-main__middle__sum-payment-limit-bold ツケ払いできます。
        %span お支払いは
        %span.cart-main__middle__sum-payment-limit-span 2月28日
        %span でOK。
        %span
          = link_to "詳細" 

    .pre-incart-item
      .pre-incart-item__header 以前カートに入れたアイテム
      %table.pre-incart-item__main 
        %tr.pre-incart-item__main-box
          %td.pre-incart-item__main-box-image
            = image_tag "https://c.imgz.jp/598/35589598/35589598_14_D_215.jpg", height: " 150px", width: "125px"
          %td.pre-incart-item__main-box-detail
            %p.pre-incart-item__main-box-detail-shop ショプ名
            %p.pre-incart-item__main-box-detail-shop  ブランド名
            %p
              %span.pre-incart-item__main-box-detail-shop  ¥10,000
              %span.pre-incart-item__main-box-detail-tax 税込
            %p.pre-incart-item__main-box-detail-tax  カラー: グレー 
            %p.pre-incart-item__main-box-detail-tax  サイズ: LARGE
          %td.pre-incart-item__main-box-add-to-cart
            %button{class: "pre-incart-item__main-box-add-to-cart-btn"} カートに入れる
        %tr.pre-incart-item__main-box
          %td.pre-incart-item__main-box-image
            = image_tag "https://c.imgz.jp/598/35589598/35589598_14_D_215.jpg", height: " 150px", width: "125px"
          %td.pre-incart-item__main-box-detail
            %p.pre-incart-item__main-box-detail-shop ショプ名
            %p.pre-incart-item__main-box-detail-shop  ブランド名
            %p
              %span.pre-incart-item__main-box-detail-shop  ¥10,000
              %span.pre-incart-item__main-box-detail-tax 税込
            %p.pre-incart-item__main-box-detail-tax  カラー: グレー 
            %p.pre-incart-item__main-box-detail-tax  サイズ: LARGE
          %td.pre-incart-item__main-box-add-to-cart
            %button{class: "pre-incart-item__main-box-add-to-cart-btn"} カートに入れる





