= render "shared/header-logged-in"

.cart-main
  .cart-main__header.clearfix
    .cart-main__header__left
      = fa_icon "shopping-cart 3x",class: "cart-main__header__left-oncart"
      .cart-main__header__left-msg ショッピングカート
    .cart-main__header__right
      = image_tag "/images/cart-info_step1.jpg"

  / カートに何も入っていない時　if文で条件文分岐
-unless @open_trade.present?
  .cart-main__content
    .cart-main__content__noitem-msg カートに商品は入っていません
    = link_to "ショピングを続ける", root_path, class: "continue-shopping-btn"



/ カートにアイテムがある時 if文で条件文分岐
-if @open_trade.present?
  .cart-main__middle
    %table.cart-main__middle__left
      = render partial: '/trades/trades_index/open_trade', collection: @open_trade

    .cart-main__middle__right
      .cart-main__middle__right-tab.clearfix
        %button{class: "cart-main__middle__right-tab__zozo selected", id: "zozotab"} ZOZO
        %button{class: "cart-main__middle__right-tab__facebook", id: "facebooktab"} Google
      .cart-main__middle__right-tab-zozo
        .cart-main__middle__right__zozobox
          .cart-main__middle__right__zozobox-msg ログインしてレジに進む
          %input{type: "text", placeholder: "メールアドレスまたはZOZOID", class: "cart-main__middle__right__zozobox-input"}
          %input{type: "text", placeholder: "パスワード", class: "cart-main__middle__right__zozobox-input"}
          = link_to "ID・パスワードを忘れた方パスワードを忘れた方" do
            .forget-email-box ID・パスワードを忘れた方
          %button{class: "cart-main__middle__right__zozobox-arigato-transaction-btn"}
            %p.arigato-price-msg ARIGATO価格
            %p.confirm-arigato-price ¥4,000で購入する
          .cart-main__middle__right__zozobox-only-creditcard-msg お支払いはクレジットカードのみとなります。
          %p.cart-main__middle__right__zozobox-zozoarigato-info-up ※ZOZOARIGATO価格での購入にはZOZOARIGATO
          %p.cart-main__middle__right__zozobox-zozoarigato-info-bottom
            %span メンバー入会（有料）が必要になります。
            %span.cart-main__middle__right__zozobox-zozoarigato-detail 
              = link_to "詳細"

        .cart-main__middle__right__footer
          .cart-main__middle__right__footer__usual
            %button#register-btn{class: "cart-main__middle__right__footer__usual-price-box"} 
              %span 通常価格
              %span ¥4,000
              %span 通常価格
              %span 
                = fa_icon "angle-down", class: "usual-price-arrow"
            .cart-main__middle__right__footer__usual-continue-shopping
              = link_to "ショッピングを続ける", root_path

          .cart-main__middle__right__footer__open#open-register
            .cart-main__middle__right__footer__open-confirm-price
              %span 通常価格
              %span ¥4,000
              %span で購入する
            %button{class: "cart-main__middle__right__footer__open-next-to-register"} レジ進むへ
            .cart-main__middle__right__footer__open-wrapping.clearfix
              %input{type: :checkbox, class: "cart-main__middle__right__footer__open-wrapping-checkbox"}
              .cart-main__middle__right__footer__open-wrapping-middle
                %span ラッピングをご希望の方はこちらにチェックをしてください
                %span.wrapping-detail-msg (有料)
                %span
                  = link_to "詳細"
              .cart-main__middle__right__footer__open-wrapping-right
                = image_tag "https://img4.zozo.jp/giftwrapping/pc/cart_giftgray.png", class: "wrapping-image"
            .cart-main__middle__right__footer__open-continue-shopping
              = link_to "ショッピングを続ける", root_path

      .cart-main__middle__right__facebookbox
        %p.cart-main__middle__right__facebookbox-msg ログインしてレジに進む
        %p.cart-main__middle__right__facebookbox-text Googleでログインすると
        %p.cart-main__middle__right__facebookbox-text ・ZOZOポイント
        %p.cart-main__middle__right__facebookbox-text ・クーポン
        %p.cart-main__middle__right__facebookbox-text ・ZOZOTOW GIFTCARD
        %p.cart-main__middle__right__facebookbox-text 上記サービスがご利用いただけません
        %p.cart-main__middle__right__facebookbox-info 
          %span ※ご利用になる場合は,
          %span
            = link_to "ZOZO IDと連携"
          %span.cart-main__middle__right__facebookbox-info し,
        %p.cart-main__middle__right__facebookbox-info ZOZOIDで再ログインしてください。
        %button{class: "cart-main__middle__right__facebookbox-btn"} Google IDでログイン
        .cart-main__middle__right__facebookbox-info 
          = link_to "Google IDログインに関して"
        .cart-main__middle__right__footer__open-wrapping.facebook-wrapping.clearfix
          %input{type: :checkbox, class: "cart-main__middle__right__footer__open-wrapping-checkbox"}
          .cart-main__middle__right__footer__open-wrapping-middle
            %span ラッピングをご希望の方はこちらにチェックをしてください
            %span.wrapping-detail-msg (有料)
            %span
              = link_to "詳細"
          .cart-main__middle__right__footer__open-wrapping-right
            = image_tag "https://img4.zozo.jp/giftwrapping/pc/cart_giftgray.png", class: "wrapping-image"
          .cart-main__middle__right__footer__open-continue-shopping
            = link_to "ショッピングを続ける", root_path

    .cart-main__middle__sum-payment
      %p.cart-main__middle__sum-payment-price
        %span 商品合計
        %span.cart-main__middle__sum-payment-price-span  ¥8,000
      %p.cart-main__middle__sum-payment-zozoarigato 
        %span ZOZOARIGATO価格
        %span.cart-main__middle__sum-payment-zozoarigato-span  ¥7,000
      %p.cart-main__middle__sum-payment-limit
        %span.cart-main__middle__sum-payment-limit-bold ツケ払いできます。
        %span お支払いは
        %span.cart-main__middle__sum-payment-limit-span 2月28日
        %span でOK。
        %span
          = link_to "詳細" 

-if @once_in_cart.present?
  .cart-main__checked-item.clearfix
    .cart-main__checked-item-msg 以前カートに入れたアイテム
    %ul.side-by-side-ul.cart-main__checked-item__line.clearfix
      = render partial:'/trades/trades_index/once_in_cart.html.haml', collection: @once_in_cart

.order-main__footer
  .order-main__footer-box
    %ul.side-by-side-ul.order-main__footer-box-ul.clearfix
      %li.side-by-side-li.order-main__footer-box-li-right コーポレイトサイト
      %li.side-by-side-li.order-main__footer-box-li-both 会社概要
      %li.side-by-side-li.order-main__footer-box-li-both IR情報
      %li.side-by-side-li.order-main__footer-box-li-both 採用情報
      %li.side-by-side-li.order-main__footer-box-li-both 利用規約
      %li.side-by-side-li.order-main__footer-box-li-both プライバシーポリシー
      %li.side-by-side-li.order-main__footer-box-li-left 特定商取引法に基づく表示・古物営業法に基づく表示
  .order-main__footer-bottom ©ZOZO,Inc

