= form_for(@credit_card, url: add_user_info_trades_path, html: {method: :post, class: "h-adr"}) do |f|
  .order-main.clearfix
    .order-main__header.clearfix
      .order-main__header__left
        .order-main__header__left__zozo-logo ZOZOTOWN
        .order-main__header__left__msg お届け先・配送方法・お支払い方法
      .order-main__header__right
        = image_tag "https://zozo.jp/_cart/order/img/step_01.gif"

    .order-main__body
      .order-main__body__item-space.clearfix
        .order-main__body__item-space__index 
          %p.order-main__body__item-space__index-msg  お届け先
        .order-main__body__item-space__detail
          -if @user.present?
            .order-main__body__item-space__detail-box.clearfix
              %input{type: :checkbox, class: "order-main__body__item-space__detail-box__left", id: "hide-new-address"}
              .order-main__body__item-space__detail-box__right#hide-address
                %p
                  %span
                    = @user.name
                  %span 様
                %p
                  %span 〒
                  %span
                    = @user.postal_code
                  %span.ship-on-day 即日発送可能
                %p
                  %span 住所：
                  %span #{@user.prefecture}#{@user.address1}#{@user.address2}
                %p
                  %span 電話：
                  %span
                    = @user.phonenumber

          .new-address-additional
            .new-address-additional__header.clearfix.unchecked#address-header
              %input{type: :checkbox, class: "new-address-additional__header-check", id: "new-address-check", checked: false}
                .new-address-additional__header-msg
                  %span 新しいお届け先を追加
                  %span.neccesary-check-info (追加する場合は必ずチェックをつけてください)

            = fields_for(@shipping_info, html: {method: :post}) do |i|
              .new-address-additional__body#new-address
                .new-address-additional__body-box
                  %p.new-address-additional__body-box-msg
                    %span.margin-space100 種別
                    %span.p-country-name{:style => "display:none;"} Japan
                    %span
                      = i.select :genre, [["勤務先・職場職場",1],["友人・知人卓",2],["実家", 3],["その他",4]],{},class: "address-genre required",required: false
                  %p.new-address-additional__body-box-msg
                    %span.margin-space85 お名前
                    %span
                      = i.text_field :name, class: "address-name required", placeholder: " 姓 名（全角）",  required: false
                  %p.new-address-additional__body-box-msg
                    %span.margin-space70 郵便番号
                    %span
                      = i.text_field :postal_code, maxlength: 8, size: "8", class: "p-postal-code address-name required", placeholder: " 例) 2617127",required: false
                  %p.new-address-additional__body-box-msg
                    %span.margin-space70 都道府県
                    %span
                      %input{class: "p-region postal-input-pref", disabled: "disabled", placeholder: "郵便番号を入力してください"}
                      = i.text_field :prefecture, type: :hidden, class: "p-region postal-input-pref required", required: false
                  %p.new-address-additional__body-box-msg
                    %span.margin-space85 住所1
                    %span
                      = i.text_field :address1, class: "p-locality p-street-address p-extended-address address-name required", placeholder: " 市区町村、番地など",required: false
                  %p.new-address-additional__body-box-msg
                    %span.margin-space85 住所2
                    %span
                      = i.text_field :address2, class: "address-name", placeholder: "建物名など(任意)"
                  %p.new-address-additional__body-box-msg
                    %span.margin-space65 電話番号
                    %span
                      = i.text_field :phonenumber, class: "address-name required", placeholder: " 例）09012345678",maxlength: 11, required: false

      .order-main__body__item-space.clearfix
        .order-main__body__item-space__index
          %p.deliverly-days-msg  配送方法
          %p お届け予定日
        .order-main__body__item-space__detail
          .order-main__body__item-space__detail-box.clearfix
            %input{type: :checkbox, class: "order-main__body__item-space__detail-box__left", id: "hide-new-delivery"}
            .order-main__body__item-space__detail-box__right.make-space-box-right
              %p
                %span.margin-space115 指定なし
                %span.margin-space115 2〜5日以内に発送
                %span ¥200

          .new-address-additional
            .new-address-additional__header.clearfix.unchecked#delivery-header
              %input{type: :checkbox, class: "new-address-additional__header-check",id: "new-delivery-check"}
                .new-address-additional__header-msg.margin-space80 日時指定
                .new-address-additional__header-msg.margin-space80 希望日時を選択してください
                .new-address-additional__header-msg ¥200
            .new-address-additional__body#new-delivery
              .new-address-additional__body-box
                %p.new-address-additional__body-box-msg
                  %span
                    %select{class: "date-select"}
                      %option{value: 1} 指定しない
                      %option{value: 2} 1月1日
                      %option{value: 3} 1月2日
                      %option{value: 4} 1月3日
                  %span
                    %select{class: "time-select"}
                      %option{value: 1} 指定しない
                      %option{value: 2} 午前中
                      %option{value: 3} 午後

          .new-address-additional
            .new-address-additional__header.clearfix.unchecked#date-delivery-header
              %input{type: :checkbox, class: "new-address-additional__header-check", id: "date-new-delivery-check"}
                .new-address-additional__header-msg.margin-space70 即日発送
                .new-address-additional__header-msg.make-span-bold.make-span-red 最短 
                .new-address-additional__header-msg.make-span-bold ◯月◯日（◯）
                .new-address-additional__header-msg.margin-space80 午前中
                .new-address-additional__header-msg ¥500
            .new-address-additional__body#date-new-delivery
              .new-address-additional__body-box
                %select{class: "date-delivery-input"}
                  %option{value: 1} 1月2日 指定しない
                  %option{value: 2} 1月2日 午前中
                  %option{value: 3} 1月2日 14:00~16:00

      .order-main__body__item-space.clearfix
        .order-main__body__item-space__index
          %p.deliverly-days-msg お支払い方法
          %p
        .order-main__body__item-space__detail
          .order-main__body__item-space__detail-box.clearfix
            %input{type: :checkbox, class: "order-main__body__item-space__detail-box__left", id: "haunt_pay"}
            .order-main__body__item-space__detail-box__right.make-space-box-right
              %p
                %span ツケ払い
                %span.new-msg.margin-space90 NEW
                %span.margin-space130 10ポイント還元
                %span ¥324
          .order-main__body__item-space__detail-box.clearfix
            %input{type: :checkbox, class: "order-main__body__item-space__detail-box__left", id: "zozocard-check"}
            .order-main__body__item-space__detail-box__right.make-space-box-right
              %p
                %span.margin-space90 ZOZOCARD
                %span.margin-space140 20ポイント還元
                %span ¥0

          .new-address-additional
            .new-address-additional__header.clearfix.unchecked#creditcard-header
              %input{type: :checkbox, class: "new-address-additional__header-check",id: "creditcard-check"}
                .new-address-additional__header-msg.margin-space40 クレジットカード
                .new-address-additional__header-msg.margin-space135 10ポイント還元
                .new-address-additional__header-msg ¥0

            .no-function-box#new-creditcard
              -if @user_credit_card.present?
                .new-address-additional__header.clearfix
                  .new-address-additional__header-msg.margin-space110 カード番号
                  %input{type: :checkbox, class: "new-address-additional__header-check", id: "nomal-card", checked: false}
                  .new-address-additional__header-msg.margin-space40
                    %span カード番号下4桁
                    -if @user_credit_card.present?
                      %span.creca-msg #{@user_credit_card.number.slice(-4..-1)}
                  .new-address-additional__header-msg
                    %span 期限
                    -if @user_credit_card.present?
                      %span.creca-msg #{@user_credit_card.expire_day}/#{@user_credit_card.expire_month}
                .new-address-additional__header.clearfix#usual-card-num1
                  .new-address-additional__header-msg.margin-space67 セキュリティコード
                  .new-address-additional__header-msg
                    %p
                      %input{type: :password, placeholder: "半角数字のみ", class: "credit-numbers", style: "font-size: 13px", maxlength: 4, minlength: 3}
                    %p.security-msg#popup-cursor1 セキュリティコードについて
                .new-address-additional__header.clearfix#usual-card-num2
                  .new-address-additional__header-msg.margin-space115.make-space-box-right 支払い回数
                  .new-address-additional__header-msg.make-space-box-right
                    %select{class: "credit-numbers"}
                      %option{value: 1}一括払い
                      %option{value: 2}2回払い
                      %option{value: 3}3回払い
                      %option{value: 4}24回払い
                      %option{value: 5}ボーナス払い
              .new-address-additional__header.clearfix.new-address-confirm#erasable-creditcard
                %input{type: :checkbox, class: "new-address-additional__header-check",id: "new-creditcard-check", checked: false}
                  .new-address-additional__header-msg#new-creditcard-top 新しいカードを追加

            .no-function-box#new-creditcard-info
              .new-address-additional__header.clearfix
                = image_tag "https://zozo.jp/_cart/order/img/card_company.gif", class: "genere-cards"
              .new-address-additional__header.clearfix
                .new-address-additional__header-msg.margin-space130 カード番号
                = f.text_field :number, placeholder: "半角数字のみ(ハイフンなし)", class: "credit-numbers required2", maxlength: 16, minlength: 14, required: false
              .new-address-additional__header.clearfix
                .new-address-additional__header-msg.margin-space67 セキュリティコード
                .new-address-additional__header-msg 
                  %p
                    = f.password_field :security_code, placeholder: "半角数字のみ", class: "credit-numbers required2", maxlength: 4, minlength: 3, required: false
                  %p.security-msg#popup-cursor2 セキュリティコードについて
              .new-address-additional__header.clearfix
                .new-address-additional__header-msg.margin-space130.make-space-box-right 有効期限
                .new-address-additional__header-msg.make-space-box-right
                  %span
                    = f.select :expire_month, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12]], {}, class: "month-selection required2" , required: false
                  %span 月
                  %span
                    = f.select :expire_day, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13],[14,14],[15,15],[16,16],[17,17],[18,18],[19,19],[20,20],[21,21],[22,22],[23,23],[24,24],[25,25],[26,26],[27,27],[28,28],[29,29],[30,30],[31,31]], {}, class: "month-selection required2", required: false
                  %span 日
              .new-address-additional__header.clearfix
                .new-address-additional__header-msg.margin-space115.make-space-box-right 支払い回数
                .new-address-additional__header-msg.make-space-box-right
                  %select{class: "credit-numbers"}
                    %option{value: 1}一括払い
                    %option{value: 2}2回払い
                    %option{value: 3}3回払い
                    %option{value: 4}24回払い
                    %option{value: 5}ボーナス払い
              .new-address-additional__header.new-address-confirm.clearfix
                %input{type: :checkbox, class: "new-address-additional__header-check",id: "comfirm_this_card", checked: false}
                  .new-address-additional__header-msg
                    %span このクレジットカード情報を登録する
                    %span.neccesary-check-info (必ずここにチェックを入れてください)



              .new-address-additional__header.clearfix
                .new-address-additional__header-msg.detail-credit-card
                  %span ※クレジットカードの個人情報取り扱いにつきましては、
                  %span
                    = link_to "こちら"
                  %span をご確認ください。

          .order-main__body__item-space__detail-box.clearfix
            %input{type: :checkbox, class: "order-main__body__item-space__detail-box__left", id: "cash_on_delivery"}
            .order-main__body__item-space__detail-box__right.make-space-box-right
              %p
                %span.margin-space115 代金引換
                %span.margin-space130 10ポイント還元
                %span ¥324

          .order-main__body__item-space__detail-box.clearfix
            %input{type: :checkbox, class: "order-main__body__item-space__detail-box__left", id: "line_pay"}
            .order-main__body__item-space__detail-box__right.make-space-box-right
              %p
                %span.margin-space115 LINE Pay
                %span.margin-space135  10ポイント還元
                %span ¥0

          .order-main__body__item-space__detail-box.clearfix
            %input{type: :checkbox, class: "order-main__body__item-space__detail-box__left", id: "convinence"}
            .order-main__body__item-space__detail-box__right.make-space-box-right
              %p
                %span.margin-space115 コンビニ
                %span.margin-space130 10ポイント還元
                %span ¥324

      .popup-card#popup-image
        = image_tag "/images/popupcard.png", width: "300px", height: "200px"

      .order-main__body__zozocard
        %p
          %span ※
          %span
            = link_to "ZOZOCARDとは?"
        %p
          %span ※デビットカード機能付きカード、カード会社発行のプリペイドカードのご利用はお控えください。詳しくは
          %span
            = link_to "注意事情"
          %span をご確認ください。
        %p ※コンビニを選択した場合、お支払いを確認後に配送方法「指定なし」でお届けなしとなります。

    .order-main__right#order-right
      -unless @user.present? && @user_credit_card.present?
        .order-main__right__content__tonext-btn.shipping-creditcard-msg
          -unless @user.present?
            .p お届け先を登録して進ん でください
          -unless @user_credit_card.present?
            .p クレジットカードを追加して進んでください

      .order-main__right__content
        -if @user.present? && @user_credit_card.present?
          = link_to confirmation_trades_path do
            .order-main__right__content__tonext-btn.link-btn_to-confirmation#link-btn 次に進む
        = f.submit "次に進む",class: "order-main__right__content__tonext-btn", id: "add_credit_card"
        .order-main__right__content__info-box
          %p
            %span.margin-space140 商品合計
            %span ¥
            -if @open_trade.present?
              %span
                = @items_sum

            -if @arigato_trade.present?
              %span
                = @arigato_sum.floor
          %p
            %span.margin-space170 送料
            %span ¥
            %span 320
          %p
            %span.margin-space135 支払い手数料
            %span ¥
            %span 0
        .order-main__right__content__summary
          %span.order-main__right__content__summary-top 合計
          %span.order-main__right__content__summary-middle.margin-space50 (税込)
          %span.order-main__right__content__summary-bottom ¥
          -if @open_trade.present?
            %span.order-main__right__content__summary-bottom
              = @include_fee
          -if @arigato_trade.present?
            %span.order-main__right__content__summary-bottom
              = @arigato_fee.floor

  .order-main__footer#footer-top
    .order-main__footer-box
      %ul.side-by-side-ul.order-main__footer-box-ul.clearfix
        %li.side-by-side-li.order-main__footer-box-li-right コーポレイトサイト
        %li.side-by-side-li.order-main__footer-box-li-both 会社概要
        %li.side-by-side-li.order-main__footer-box-li-both IR情報
        %li.side-by-side-li.order-main__footer-box-li-both 採用情報
        %li.side-by-side-li.order-main__footer-box-li-both 利用規約
        %li.side-by-side-li.order-main__footer-box-li-both プライバシーポリシー
        %li.side-by-side-li.order-main__footer-box-li-left 特定商取引法に基づく表示・古物営業法に基づく表示
    .order-main__footer-bottom ©ZOZO,Inc
