%body
  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  %script{ src: "https://code.jquery.com/jquery-3.3.1.min.js"}
  %script{:src => "/assets/jquery.color.js", :type => "text/javascript"}
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.js"}
  %script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js", :type => "text/javascript"}

  %link{:href => "http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.6.3/css/all.css", :integrity => "sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", :rel => "stylesheet"}/

.world
  .world__header ZOZO MARKETING
  .japan
    %ul
      %li.hokkaido
        %button{type: :button}
          %span 北海道

      %li.akita
        = link_to '#' do
          %span 秋田

      %li.aomori
        = link_to '#' do
          %span 青森

      %li.iwate
        = link_to '#' do
          %span 岩手

      %li.yamagata
        = link_to '#' do
          %span 山形

      %li.miyagi
        = link_to '#' do
          %span 宮城

      %li.tochigi
        = link_to '#' do
          %span 栃木

      %li.fukushima
        = link_to '#' do
          %span 福島

      %li.saitama
        = link_to '#' do
          %span 埼玉

      %li.tokyo
        = link_to '#' do
          %span 東京

      %li.ibaraki
        = link_to '#' do
          %span 茨城

      %li.chiba
        = link_to '#' do
          %span 千葉

      %li.niigata
        = link_to '#' do
          %span 新潟

      %li.gunma
        = link_to '#' do
          %span 群馬

      %li.kanagawa
        = link_to '#' do
          %span 神奈川

      %li.toyama
        = link_to '#' do
          %span 富山

      %li.nagano
        = link_to '#' do
          %span 長野

      %li.yamanashi
        = link_to '#' do
          %span 山梨

      %li.shizuoka
        = link_to '#' do
          %span 静岡

      %li.ishikawa
        = link_to '#' do
          %span 石川

      %li.gihu
        = link_to '#' do
          %span 岐阜

      %li.aichi
        = link_to '#' do
          %span 愛知

      %li.fukui
        = link_to '#' do
          %span 福井

      %li.shiga
        = link_to '#' do
          %span 滋賀

      %li.nara
        = link_to '#' do
          %span 奈良

      %li.mie
        = link_to '#' do
          %span 三重

      %li.kyoto
        = link_to '#' do
          %span 京都

      %li.hyogo
        = link_to '#' do
          %span 兵庫

      %li.osaka
        = link_to '#' do
          %span 大阪

      %li.wakayama
        = link_to '#' do
          %span 和歌山

      %li.tottori
        = link_to '#' do
          %span 鳥取

      %li.okayama
        = link_to '#' do
          %span 岡山

      %li.shimane
        = link_to '#' do
          %span 島根

      %li.hiroshima
        = link_to '#' do
          %span 広島

      %li.yamaguchi
        = link_to '#' do
          %span 山口

      %li.fukuoka
        = link_to '#' do
          %span 福岡

      %li.oita
        = link_to '#' do
          %span 大分

      %li.miyazaki
        = link_to '#' do
          %span 宮崎

      %li.saga
        = link_to '#' do
          %span 佐賀

      %li.nagasaki
        = link_to '#' do
          %span 長崎

      %li.kumamoto
        = link_to '#' do
          %span 熊本

      %li.kagoshima
        = link_to '#' do
          %span 鹿児島

      %li.okinawa
        = link_to '#' do
          %span 沖縄

      %li.ehime
        = link_to '#' do
          %span 愛媛

      %li.kagawa
        = link_to '#' do
          %span 香川

      %li.tokushima
        = link_to '#' do
          %span 徳島

      %li.kochi
        = link_to '#' do
          %span 高知

  .area
    .area__box
      .prefecture 神奈川県
      %table
        %td
          %p 1.総購入額
          %p 2.総購入アイテム数
          %p 3.総取引回数
          %p 4.1取引の平均購入アイテム数
        %td
          .td__right{style: "margin-left:15px"}
            %p 1.総購入額
            %p 2.総購入アイテム数
            %p 3.総取引回数
            %p 4.1取引の平均購入アイテム数
